*{
    margin: 0;
    padding: 0;
    font-family: 'Potta One',cursive;
}
body{
    background: rgb(255, 255, 255);
}
h1{
    text-align: center;
}
.info-card h4{
    font-size: 16px;
}
header{
    background: green;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.logo>img{
    width: 75px;
    float: left;
}
ul{
    float: right;
    margin-right: 30px;
}
.submenu{
    position: relative;
    list-style-type: none;
    width: 90vw;
}
.submenu>#cart{
    display: none;
}
.submenu:hover #cart{
    display: block;
    position: absolute;
    background: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
}
#img-cart{
    float: right;
    margin-right: 0;
}
.courses-container{
    margin-top: 30px;
    display: grid;
    grid-gap: 25px;
    max-width: 1080px;
}
.course_item{
    border: 3px solid black;
    box-shadow: 0px 14px 28px lightgray;
    background: yellow;
    display: flex;
}
.course-card{
    margin: 20px;
    background-color: green;
    width: 265px;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(43, 43, 43, 0.74), 10px 10px  rgba(201, 201, 201, 0.849);
}
.info-card{
    padding: 10px 10px;
    height: 150px;
    line-height: 30px;
}
.price{
    color:red;
    text-decoration: line-through black;
}
.discount{
    color: rgb(255, 230, 0);
    margin-left: 30px;
}
.cancel{
    color: blue;
    float: right;
}
.addcart{
    position: absolute;
    background: orange;
    padding: 5px 10px;
    border-radius: 3px;
    border: 3px solid black;
    text-decoration: none;
    margin-top: 5px;
    width: 215px;
    text-align: center;
}



























